.wrapper {
    height: 300px;;
    width: 60%;

    margin: auto;
    padding: 70px 0;
    display: flex;
    justify-content: center;
}

.box{
    margin: auto;
}

.boxy-button{
    height: 50px;
    width: 250px;
    border: none;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    background-color: #e7e7e7;
}